*{
    margin: 0;
    padding: 0;
}


body{
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FF8E9D'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='477' height='397.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
/* nav bar */
nav{
    background:rgb(255, 255, 255);
    box-shadow: 3px 3px 3px 5px  gray;
  }
  
  .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link{
    color: #120e67;
    margin-right:10px;
    font-weight: bold;
  
  }
  .navbar-dark .navbar-nav .nav-link.active:hover{
    border-bottom: 3px solid #FF6582;
    
    color: #6C63FF; 
  }
  
  .navbar-dark .navbar-nav .nav-link:hover{
    border-bottom: 3px solid #FF6582;
    color: #6C63FF;
  
  }
  .navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link:focus{
    border-bottom:none;
  }

  /* homepage content */
  .wrapper{
    position: relative;
  }
  .home-image{
      position:absolute;
      
  }
  .home-image img{
      height: 650px;
    margin-left: 700px;
  }
  .home-content{
    position:absolute;  
  } 
  .footer-content {
    color: #efeaee;
  }
  
  h1{
    position:relative;
      margin-top:50%;
      margin-left: 90px;
      font-weight: bold;
      margin-bottom: 50px;
      color:#120e67;
  }
  .home-content a{
      text-decoration: none;
      background-color:#de1237;
      color: black;
      padding: 8px 70px 8px 70px;
      margin-left: 90px;
      border-bottom-left-radius: 15px;
      border-top-right-radius:15px;
      font-weight: bold;
  }
  .home-content:hover a{
    border-bottom-left-radius: 0px;
    border-top-right-radius:0px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    

  }

  /* sign in/ sign up pages */


  .header{
    width:30%;
    margin: 30px auto 0px;
    color: white;
    background:#FF6582;
    text-align: center;
    border: 1px solid #FF6582;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    text-transform: uppercase;
    

}
form, .content{
    width: 80%;
    margin:0px auto;
    padding: 20px;
    border: 1px solid #f567;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group{
    margin: 10px 10px 10px 0px;;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    font-size: 15px;

}
.input-group input{
    height: 30px;
    width: 93%;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;

}
.btn{
    padding: 4px 20px; ;
    width: 99%;
    height: 30px;
    font-size: 15px;
    color: white;
    background: rgba(242, 68, 85, 0.467);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

p{
    font-size: 15px;  
}
p a{
    font-size: 15px;
    text-transform: uppercase;
    color: #FF6582;
}

.error{
    width:92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #FF6582;
    color: #FF6582;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
}

footer.container {
  background-color: rgb(33, 9, 9);
  max-width: 100% !important;
  height: 30vh;
  position: relative;
  margin-top: 800px;
  clear: both;
}

a.ft-nav-item {
  text-decoration: none !important;
  color: #fcf6fb;
  font-weight: 600;
}

.ft-nav-title {
  color: #efeaee;
  font-weight: 600;

}




/* Add this CSS to style the search form */
.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.search-form button {
  padding: 8px 15px;
  background-color: #007bff; /* Change this to your preferred color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}